{% extends 'base.html.twig' %}

{% block title %}Team Rocket & Co – Recrutement Ultime{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    <link href="https://fonts.googleapis.com/css2?family=Orbitron:wght@700&family=Roboto:wght@400;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{{ asset('css/index.css') }}">
{% endblock %}

{% block body %}
<section class="scrolling-credo">
    <div>
        {% for team in teams %}
            <span>« {{ team.credo }} »</span>
        {% endfor %}
    </div>
</section>

<section class="cta-cell">
    <div class="dialog-box">
        {% if not app.user %}
            <p class="typewriter" data-text="Vous rêvez de grandeur, de méfaits et de Pokémon légendaires ? Choisissez votre camp."></p>
            <a href="{{ path('app_register') }}" class="btn-cta">Postuler maintenant ▶</a>
        {% else %}
            <p class="typewriter" data-text="Prêt à commencer ton premier vol ?"></p>
            {# Modification de la route Team pour faire correspondre la mission à la Team#}
          <a href="{{ path('game_first_theft', {'team': app.user.teamVilain.name}) }}" class="btn-adventure">
                <span class="btn-adventure__text">Commencez l'aventure !</span>
                <span class="btn-adventure__glitch" aria-hidden="true">Commencez l'aventure !</span>
            </a>
        {% endif %}
    </div>
</section>

<section class="teams-detail container">
    <h3 class="text-center mb-5" style="font-family:'Orbitron',sans-serif;">Index des organisations criminelles</h3>
    {% for team in teams %}
        {% set filename = team.name|lower|replace({' ':'-', 'é':'e', 'è':'e', 'æ':'ae'}) ~ '.png' %}
        <div class="team-card" style="--c:{{ team.colorCode }};">
            <img src="{{ asset('images/icones/' ~ filename) }}" alt="Logo {{ team.name }}" class="team-logo" width="80" height="80">
            <div class="team-info">
                <div class="team-name" style="color:{{ team.colorCode }};">{{ team.name }}</div>
                <div class="team-region">Région : {{ team.region }}</div>
                <div class="team-credo">« {{ team.credo }} »</div>
            </div>
        </div>
    {% endfor %}
</section>

{% if app.user %}
    <section class="global-chat mt-5">
        <h3 class="text-center" style="font-family:'Orbitron',sans-serif;">Tu veux communiquer avec les autres sbires ? =></h3>
        {{ include('chat_widget/chatwidget.html.twig', {
            channels:    channels,
            mercure_url: mercure_url,
            mercure_jwt: mercure_jwt
        }) }}
    </section>
{% endif %}
{% endblock %}

{% block javascripts %}{% endblock %}
{% block footer %}{% endblock %}
